body {
  background-image: url("http://www.mountainsoftravelphotos.com/Argentina/11%20Salta%20Cathedral/slides/11%20Floor%20Tiles%20Inside%20Salta%20Cathedral.jpg");
  height: 100%;
  background-size: 100% 100%;
}
.info-board {
  text-align: center;
  background-color: white;
}
.board {
  margin: auto;
  width: fit-content;
  border: 1px solid gray;
}
.game-row {
  display: flex;
  flex-direction: row;
  width: 504px;
}
.game-square {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: #ddd;
  border-radius: 2px;
}
.border-square {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: white;
}
.player-control {
  margin: 10px auto 0 auto;
  width: fit-content;
}
.game-piece {
  border: 1px solid white;
  margin: 3px;
}
#blue-bank {
  display: none;
}
